OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
COHERE_API_KEY=
DATABASE_URL=file:./dev.db
PERSISTENCE=sqlite
ENABLE_BROWSING=false
ENABLE_VISION=false
ENABLE_TTI=false
ENABLE_TTS=true
ENABLE_STT=true
